<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>form 실습</title>
    <style>
        label {
            font-size: 1rem;
            font-family: Arial, Helvetica, sans-serif;
        }
        input {
            margin: .4rem;
        }
        select {
            margin: .4rem;
        }
        button {
            margin: 5px;
        }
    </style>
    <script> 
        function sendform() {
            var form = document.getElementById('form_info');
            let joys = [];
            axios({
                method: 'post',
                url: 'http://localhost:8080/login',
                data : {
                    name: form.name.value,
                    gender: form.gender.value,
                    year: form.year.value,
                    month: form.month.value,
                    day: form.day.value, 
                    // joy: 
                    // for (let i = 0; i < form.joys.length; i++) {
                    //     let joy = form.joys[i];
                    //     if (joy.checked) {
                    //         joys.push(joy.value);
                    //     };
                    // }
                }
            }).then((a) => { return a.data; })
            .then((d) => {
                alert(d.message);
            });
        }
    </script>
</head>
<body>
    <form id="form_info">
        <fieldset>
            <label>
                이름 : 
                <input type="text" name="name" placeholder="이름" required> 
            </label><br>

            <label>
                성별 
                <input type='radio' name="gender" value="남" required>남
                <input type='radio' name="gender" value="여" required>여
            </label><br>

            <label>
                생년월일 
                <select name="year">
                    <%for (i = 1950; i<= 2022; i ++) {%>
                        <option value=<%=i%>><%=i%></option>
                    <%}%>
                </select>년 
                <select name="month">
                    <%for (i = 1; i<= 12; i ++) {%>
                        <option value=<%=i%>><%=i%></option>
                    <%}%>
                </select>월
                <select name="day">
                    <%for (i = 1; i<= 31; i ++) {%>
                        <option value=<%=i%>><%=i%></option>
                    <%}%>
                </select>일

                
            </label><br>
            <label>
                관심사
                <input type='checkbox' name="joy" value="여행">여행
                <input type='checkbox' name="joy" value="패션">패션 
                <input type='checkbox' name="joy" value="반려동물">반려동물 
                <input type='checkbox' name="joy" value="음식">음식<br> 
            </label>
        </fieldset>

        <button type="button" onclick="sendform()">회원가입</button>
    </form>
</body>
</html>